.div-pilares-img img {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.overlay-content {
    text-align: center;
    color: white;
    width: 100%;
}

.pilares-motion-img-selected {
    width: auto;
}

#pilares-motion-div-name {
    font-size: 40px;
}

#pilares-motion-div-span {
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: bold;
}