.banner {
    background-image: linear-gradient(to right, var(--textColor), transparent), url("../../assets/img/Banner.webp");
    background-color: var(--textColor);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 80%;
    color: #f4f4f9;
    height: 650px;
}

.banner-text {
    width: 50%;
    text-align: start;
}

